.card {
    padding: 0 0.7rem;
    margin-bottom: 1rem;
    width: 100%;
}

.card__header {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.avatar {
    background-image: url('../../../../assets/images/exp.jpg');
    background-size: cover;
    margin: 0 1rem 0 0;
}

.card__title {
    font-size: 1.2rem;
}

.card__content__title {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
}

.card__content__description {
    font-size: 0.8rem;
    font-weight: lighter;
}

.container_fecha {
    padding: 2% 0;
}

/* ------------------------ MEDIA QUERIES ---------------------- */
@media (max-width: 768px) {
    .card__content__description {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .card__content__title {
        font-size: 1.2rem;
    }

    .card__content__description{
        font-size: 1.1rem;
        font-weight: 400;
    }

    .container_fecha > span {
        display: flex;
        align-items: center;
    }
}
