<mat-card class="container-list">
    <div class="container-header">
        <h2>Lista de elementos</h2>
        <div class="container-header-buttons">
            <button mat-flat-button color="primary">Agregar</button>
            <button mat-flat-button color="warn" routerLink="">Volver</button>
        </div>
    </div>
    <mat-card *ngFor="let education of educations" class="card-item">
        <mat-card-header class="card-header">
            <mat-card-title>{{education.name}}</mat-card-title>
        </mat-card-header>
        <div class="card-container">
            <div class="card-description">
                <p>{{education.description}}</p>
            </div>
            <div class="card-buttons">
                <i class="fa-regular fa-edit button"></i>
                <i class="fa-solid fa-times button"></i>
            </div>
        </div>
    </mat-card>
</mat-card>
