/* ------------------------- CONTAINER COMPONENT ------------------------ */
.container-about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* ------------------------- PRESENTATION CARD -------------------------- */
.card-about {
    width: 100%;
    background-color: rgb(179, 179, 179);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0;
    padding-bottom: 2%;
}

.card-header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
}

.card-profile {
    width: 70%;
    border-radius: 50%;
}

.card-title {
    font-size: 2rem;
    margin: 3% 0;
}

.card-subtitle {
    font-size: 0.8rem;
}

/* -------------------------- ACERCA DE PANEL ---------------------------- */
.panel-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.panel-text {
    font-size: 0.8rem;
}