<div>
    <mat-card class="container-list">
        <div class="container-header">
            <h2>Lista de elementos</h2>
            <div class="container-header-buttons">
                <button mat-flat-button color="primary" (click)="onAdd()">Agregar</button>
                <button mat-flat-button color="warn" routerLink="">Volver</button>
            </div>
        </div>
        <mat-card *ngFor="let experiencia of experiencias" class="card-item">
            <mat-card-header class="card-header">
                <mat-card-title>{{experiencia.nombre_empresa}}</mat-card-title>
                <mat-card-subtitle>{{experiencia.puesto}}</mat-card-subtitle>
            </mat-card-header>
            <div class="card-container">
                <div class="card-description">
                    <div class="card-imagen" *ngIf="experiencia.imagen">
                        <img width="30%" alt="Imagen de experiencia" id="exp-image">
                    </div>
                    <span *ngIf="experiencia.fecha_inicio != null">Fecha: {{experiencia.fecha_inicio | date:"dd/MM/yyyy"}}</span>
                    <span *ngIf="experiencia.fecha_fin != null"> - {{experiencia.fecha_fin | date:"dd/MM/yyyy"}}</span>
                    <p>{{experiencia.descripcion}}</p>
                    <p *ngIf="experiencia.trabajo_actual">Trabajo actual</p>
                </div>
                <div class="card-buttons">
                    <i class="fa-regular fa-edit button" (click)="onEdit(experiencia)"></i>
                    <i class="fa-solid fa-times button" (click)="onDelete(experiencia)"></i>
                </div>
            </div>
        </mat-card>
    </mat-card>
</div>