<div class="header row">
    <div class="title col-10 col-sm-7 col-md-8 col-lg-9">
        <h2 routerLink="">Portfolio</h2>
    </div>
    <div class="contenedor-menu col-2 col-sm-5 col-md-4 col-lg-3">
        <div class="contenedor-iconos">
            <a 
                rel="noopener" 
                target="_blank" 
                href="https://www.instagram.com/pablo.barcala/"
                title="Instagram"
            >
                <i class="fa-brands fa-instagram icon icon__instagram"></i>
            </a>
            <a 
                rel="noopener" 
                target="_blank" 
                href="https://github.com/pablobarcala"
                title="Github"
            >
                <i class="fa-brands fa-github icon icon__github"></i>
            </a>
            <a 
                rel="noopener" 
                target="_blank" 
                href="https://www.linkedin.com/in/pablo-dami%C3%A1n-barcala-60a1a923a/"
                title="Linkedin"
            >
                <i class="fa-brands fa-linkedin icon icon__linkedin"></i>
            </a>
        </div>
        <button 
            routerLink="login" 
            mat-flat-button 
            color="accent"
            
        >LOGIN</button>
        <button 
            mat-flat-button 
            color="accent"
            
            
        >LOGOUT</button>
    </div>
</div>

<!-- 
    *ngIf="!authService.logIn"
    *ngIf="authService.logIn"
    (click)="authService.logout()"
 -->
