.card {
    padding: 0 0.7rem;
    margin-bottom: 1rem;
    width: 100%;
}

.card__header {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.avatar {
    background-image: url('../../../../assets/images/exp.jpg');
    background-size: cover;
    margin: 0 1rem 0 0;
}

.card__title {
    font-size: 1.2rem;
}

.card__subtitle {
    font-size: 0.9rem;
}

.card__content__title {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
}

.card__content__description {
    font-size:  0.8rem;
    font-weight: lighter;
}

.container_fecha {
    padding: 1% 0;
}

.container_fecha > span {
    font-size: 0.8rem;
}

.container_fecha__mobile {
    display: none;
}

.actual {
    margin: 0.5rem 0;
    background-color: rgb(198, 247, 205);
    text-align: center;
    border-radius: 10px;
    width: 20%;
    color: #646464;
}


/* ------------------------ MEDIA QUERIES ---------------------- */
@media (max-width: 992px) {
    .actual {
        width: 25%;
    }
}

@media (max-width: 768px) {
    .card__content__description {
        font-size: 0.9rem;
    }
    
    .actual {
        width: 30%;
    }
}

@media (max-width: 576px) {
    .card__content__title {
        font-size: 1.2rem;
    }

    .card__content__description{
        font-size: 1.1rem;
        font-weight: 400;
    }

    .actual {
        width: 35%;
    }

    .container_fecha__mobile {
        display: block;
    }

    .container_fecha__mobile > span {
        font-size: 1rem;
    }

    .container_fecha__desktop {
        display: none;
    }
}

