.component-header {
    display: flex;
    align-items: center;
}

.container-edu {
    padding: 0 1.5rem;
}

.container-title {
    margin: 3% 0;
    margin-right: 2%;
    background-color: rgb(99, 99, 99);
    width: 20%;
    padding: 1% 1.5%;
    border-radius: 0 10px 10px 0;
}

.container-title > h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

/* ----------------------------- MEDIA QUERIES ----------------------------- */

@media (max-width: 992px) {
    .container-title {
        width: 30%;
    }
}

@media (max-width: 475px) {
    .container-title {
        width: 40%;
    }
}
