.dialog-container {
    width: 40rem;
    min-height: 10rem;
    max-height: 40rem;
    padding: 1rem;
}

.title {
    font-size: 1.3rem;
}

.form {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 1rem 0;
}

.form-field {
    width: 100%;
}

.container-buttons {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 30%;
}