<div class="container-login">
    <mat-card class="card-login">
        <mat-card-header class="card-header">
            <mat-card-title class="card-title">LOGIN</mat-card-title>
        </mat-card-header>
        <form [formGroup]="form" (ngSubmit)="onSubmit($event)" class="card-form">
            <mat-form-field appearance="outline" class="card-form__input">
                <mat-label>Ingrese su username</mat-label>
                <input 
                    matInput 
                    placeholder="Username" 
                    type="text"
                    formControlName="nombreUsuario"
                >
            </mat-form-field>
            <mat-form-field appearance="outline" class="card-form__input">
                <mat-label>Ingrese su contraseña</mat-label>
                <input 
                    matInput 
                    placeholder="Password" 
                    type="password"
                    formControlName="password"
                >
            </mat-form-field>
            <button 
                mat-raised-button 
                color="primary"
                type="submit"
                class="card-form__button" 
            >LOGIN</button>
        </form>
        <div class="loading">
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </div>
    </mat-card>
</div>
