<div class="component-header">
    <div class="container-title">
        <h2>EXPERIENCIA:</h2>
    </div>
    <button 
        mat-flat-button 
        color="accent"
        *ngIf="isAdmin"
        routerLink="experiencia"
    >
        <i class="fa-regular fa-edit"></i>
        Editar experiencia
    </button>
</div>
<div class="container-exp">
    <app-experiencia-item
        *ngFor="let experiencia of experiencias"
        [experiencia]="experiencia"
    ></app-experiencia-item>
</div>


<!-- *ngIf="authService.logIn" -->
